<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Статус вашего заявления изменился.</title>
</head>
<body>
<h1>Статус вашего заявления изменился</h1>

<p>{{ rf.date|date:"d.m.Y" }} статус вашего заявления изменился на "{{ rf.status.name }}"</p>
{% if rf.status.is_new %}
<p><strong>Внимание! </strong>
    Согласно приказа ДОиМП ХМАО-Югры №1110 от 25.08.14г. Вам необходимо, в срок не позднее {{ to_date|date:"d.m.Y" }},
    предоставить в Институт на электронный адрес att@iro86.ru все необходимые для аттестации документы.
    В случае если документы предоставлены не будут, заявление будет автоматически отклонено.
</p>
{% endif %}

<p>
    Детали вашего заявления доступны по данной
    <a href="http://att.doinhmao.ru{% url attestation.views.request rf.request.secret_code %}">
        ссылке.
    </a>
</p>

</body>
</html>