{% load i18n %}
<ul>
    {% if not user.is_authenticated %}
        {% for i in menu_items %}
            {% if i.public %}
                <li><a href="{{ i.link }}" title="{{ i.name }}">{{ i.name }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="/login/">{% trans "Log In" %}</a> </li>
    {% else %}
        {% for i in menu_items %}
            <li><a href="{{ i.link }}" title="{{ i.name }}">{{ i.name }}</a></li>
        {% empty %}
            <li>
                <a href="/admin/">{% trans "Configure menu" %}</a>
            </li>
        {% endfor %}
        <li><a href="/logout/" title="{{ user.username }}">{% trans "Log Out" %}</a></li>
    {% endif %}
</ul>